.my-class{
    display: none;
}

.example-full-width{
    width: 100%;
}

.dialog-content {
    max-height: 600px;
    max-width: 100%;
    /* Set a max height for the content */
    overflow-y: auto;
    /* Enable vertical scrolling */
}

.mat-mdc-form-field{
    width: 98%;
    margin:1%;
}
button{
    margin: 2px;
}

h1.logo {
    width: 100%;
    font-weight: bold;
    font-size: 150rem;
    font-size: 100%;
    letter-spacing: 3px;
    word-spacing: 3px;
    pointer-events: none;
    color: #f7007c;
}
