<form [formGroup]="myLanguageForm">

    <h1 mat-dialog-title class="logo mt-4 mb-4 text-center">{{ headerTitleText}} YOUR LANGUAGE</h1>
    <div mat-dialog-content>
        <mat-form-field appearance="outline">
            <mat-label>Language</mat-label>
            <input formControlName="langTitle"  matInput>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Select Level</mat-label>
            <mat-select formControlName="level">
                <mat-option *ngFor="let level of levels" [value]="level.value" >
                    {{ level.viewValue }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div mat-dialog-actions>
        <button mat-raised-button color="primary" (click)="updateLanguageData()" [class.my-class]="isUpdateButtonShow" >Update</button>
        <button mat-raised-button color="primary" (click)="createNewLanguageData()" [class.my-class]="isSaveButtonShow">Save</button>
        <button mat-raised-button  color="warn" (click)="closeLanguagePopUp()">Close</button>
        <!-- <button mat-button (click)="closeSkillPopUp()" color="accent">Cancel</button> -->
    </div>
</form>
