<div class="container">
    <mat-progress-bar mode="buffer"></mat-progress-bar>
</div>

<div class="container center-text">
    <p>
        <button mat-stroked-button class="logo" disabled >
            {{BrandName}}
        </button>
    </p>
</div>
<div class="container">
    <mat-progress-bar mode="buffer"></mat-progress-bar>
</div>
<div class="container">
    <div>
        <button mat-raised-button color="primary" routerLink="/template" class="example-full-width">Explore Our Template Here...!<mat-icon>arrow_forward</mat-icon></button>
    </div>
</div>
<div class="container">
    <mat-card class="example-card">
        <mat-card-header>
      
        <div mat-card-avatar class="example-header-image" >
            <img mat-card-image src="assets/img/PrasadSanap.png" height="40px" width="40px" alt="image">
        </div>
            <mat-card-title>Prasad Sanap</mat-card-title>
            <mat-card-subtitle>Software Engineer</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/img/PrasadSanap.png" alt="image">
        <mat-card-content>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, quisquam ea harum temporibus maiores iusto fuga ducimus praesentium id perspiciatis animi repellendus vero quidem consectetur repellat repudiandae dolore vitae in.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
        </mat-card-actions>
    </mat-card>
</div>

<div class="container">
    <mat-divider></mat-divider>
    <div class="txt-or">
        <p class="txt-or">OR</p>
    </div>
    <mat-divider></mat-divider>
    <div class="txt-or">
        <p class="txt-or"></p>
    </div>
    <mat-tab-group animationDuration="2000ms">
        <mat-tab label="Get Started">
            <button mat-raised-button color="primary" routerLink="/signup" class="example-full-width">Create New
                Account</button>
        </mat-tab>
        <mat-tab label="Login">
            <button mat-raised-button color="primary" routerLink="/login" class="example-full-width">Login</button>

        </mat-tab>
    </mat-tab-group>
</div>